<nav aria-label='breadcrumb'>
    <ol class='breadcrumb breadcrumb-arrow'>
        <li class='breadcrumb-item'><a href='/productgroup/index'>productgroup</a></li>
        <li class='breadcrumb-item active' aria-current='page'>edit</li>
    </ol>
</nav>
<div id='app1' v-cloak>

    <v-app>
         
        <v-card>
          <v-card-title>
          </v-card-title>
          <v-card-text>
            <div style="margin:20px"><v-text-field  v-model="productgroup.productGroupName" label="productgroup" ></v-text-field></div>


          </v-card-text>
          <v-card-actions>
             <v-btn @@click='edit_productgroup' color='blue' outlined>
                <v-icon>
                    mdi-content-save-edit
                </v-icon>
             </v-btn>
          </v-card-actions>
          
        </v-card>
    </v-app>
</div>
@section scripts{
    <script>
        var app;
            var component = {
                vuetify: new Vuetify(theme())
                ,
                el:'#app1'
                ,
                data:{
                    productgroup:{}
                    ,
                    
                }//edata
                ,
                created(){
                  this.productgroup = @Html.Raw(Json.Serialize(@ViewBag.productgroup));
                     
                     
                }//ecreated
                ,
                methods:{
                  edit_productgroup(){
                   
                    var url = '/productgroup/edit';
                    var param= this.productgroup;
                    $.post(url,param)
                    .done(res =>{
                          if(res.error == -1){
                               window.location = '/productgroup/index';
                          }
                          else{
                             alert(res.exception);
                          }
                    });
                    
                  }//ef
                  ,                 
                  

                }//emethod
                ,
                 computed:{

                 }//ecomputed
            };
            app = new Vue(component);


    </script>

}
